<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Operadores
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">Operadores</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <!-- Info boxes -->
    <div class="row">
        <div class="col-lg-8">
            <div class="box box-primary">

                <table class="table tablesorter" data-sortable>
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>E-mail</th>
                            <th>Permissões</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Carlos Henrique</td>
                            <td>microheyn@gmail.com</td>
                            <td>Administrador</td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default" title="Editar"><i class="fa fa-edit"></i></button>
                                    <button type="button" class="btn btn-default" title="Remover base" data-action="delete" data-type="operador" data-url="" data-json=""><i class="fa fa-trash-o"></i></button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>José Antônio</td>
                            <td>jose@gmail.com</td>
                            <td>Normal</td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default" title="Editar"><i class="fa fa-edit"></i></button>
                                    <button type="button" class="btn btn-default" title="Remover base" data-action="delete" data-type="operador" data-url="" data-json=""><i class="fa fa-trash-o"></i></button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div><!-- /.box -->
            
            <div class="row">
                <div class="col-md-12">
                    <a href="#" class="btn btn-success"><i class="fa fa-plus-circle"></i> Adicionar operador</a>
                </div>
            </div>
            
        </div>
    </div>

</section><!-- /.content -->